<h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>
<div class="container">

  <%= render 'form', cocktail: @cocktail %><br>

  <%=link_to 'Return to Cocktail List', cocktails_path %>
</div>
